body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 25px;
    color: #fff;
}

header{
    z-index: 1;
    transition: all ease-in-out 1.2s;
    padding-bottom: 20px;
}

#logo{
    margin: 20px 0 0 50px;
}

#slider{
    background-color: red;
    height: 100vh;
}

#service-container{
    padding-bottom: 40px;
}

figure{
    position: relative;
}

figure > img{
    display: block;
}

figure > figcaption{
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

h3.font-300{
    margin: 0 0 10px 0;
}

nav > a{
    margin: 0 15px 0 15px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav > a:hover{
    border-bottom: solid 2px #F39200;
}

nav > a:focus{
    border-bottom: solid 2px #F39200;
}

#footer-menu{
    padding: 50px 0;
}

#footer-address > a{
    margin: 0 20px;
    border-bottom: solid 2px transparent;
}

#footer-address  > a:hover{
    border-bottom: solid 2px #F39200;
}

#about-phuket{
    padding-bottom: 70px;
}

#text-container > h3{
    margin: 1rem;
}

iframe{
    border-radius: 10px;
}

@media (max-width: 1024px){
    body{
        font-size: 13px;
    }
}

@media (max-width: 1024px) and (orientation: portrait){
    #service-container > section > div{
        width: auto !important;
    }
}


@media (max-width: 736px) and (orientation: portrait){
    body{
        text-align: center;
        font-size: 1px;
    }

    #logo{
        margin: 10px 0;
    }

    header{
        background-color: black;
    }

    #sub-menu{
        display: none;
    }

    li.mobile-only > p{
        margin: 10px 0 10px 0;
    }

    #sub-menu > nav > a{
        display: block;
        padding: 10px 0 10px 0;
    }

    #sub-menu > nav > a:hover{
       background-color: blue;
    }

    section.float-left{
        width: 100%;
    }

    section.float-left > figure > img{
        margin: auto;
    }

    #address-container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 736px) {
    body{
        font-size: 13px;
    }
}